body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    letter-spacing: 1px;
}
#title{
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 20px
}
nav{
    display:flex;
    align-items: center;    /*center vertically*/
    justify-content: space-between; /*space between content in horizontally*/
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    overflow:auto;
}
nav p{
    margin: 0 20px;
}
#navlinks{
    margin: 0px 5px;
}
#navlinks a{
    float: left;
    border-right: 0px;
    padding: 19px 20px;
    text-decoration: none;
    color: black;
    border-left: 1px solid rgba(0,0,0,0.2);
}
#navlinks a:last-child{
    border-right: 1px solid rgba(0,0,0,0.2);
}
#navlinks a:hover{
    background-color: rgb(0, 203, 230);
    color: white;
    transition: all 0.3s ease;
}
#navlinks a.active{
    letter-spacing: 4px;
    background-color: rgb(5,5,5);
    color: white;
    font-weight: 550;

}
.menuicon div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
}
.menuicon {
    display: none;
    margin: 20px 20px 0;
}
  
  @media screen and (max-width: 600px) {
    .menuicon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    #navlinks.responsive {position: relative;}
    .menuicon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #navlinks.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.box{
    width: 90%;
    height: 400px;
    margin: 20px auto;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
}
footer{
    background-color: rgba(0,0,0,0.2);
    height: 300px;
    padding: 20px;
    text-align: center;
}